body {
    margin: 0;
    padding: 0;
  }
  
  .foodImg {
    width: 30em;
    height: auto;
  }
  
  .divImage {
    display: flex;
    justify-content: center;
  }
  
  header {
    background-color: #f8f8f8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    text-align: center;
  }
  
  header h1 {
    font-size: 3em;
    color: #333;
    margin: 0;
    padding: 0;
  }

  section {
    padding-left: 30px;
    padding-right: 30px;
  }

  footer {
    text-align: center;
    padding-bottom: 30px;
  }