html, body {
    height: 100%;
    margin: 0;
}

#sketchpad {
    margin: auto;
    width:  500px;
    height: 500px;
    border-style: solid;
    border-width: thick;
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex: 1;
}
.column {
    flex: 1;
    border-style: solid;
    border-width: thick;
}